<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_ach').addClass('active');

});
</script>
<div class="col-md-10">
	<h1 style="text-align: center;">Achievements</h1>
	<div class="row">
		<div class="col-md-10">
			<p>Although Earn and Learn is in its infancy, the early results have been quite promising. In the spring of 2003, four eighth graders entered the program (Group I). The middle school had selected those students who had significant academic and behavioral problems. During the first half of 2003, the four students from Group I had twenty-two official disciplinary problems and twenty additional informal disciplinary events. During the second half of 2003, those four students had 80% fewer disciplinary issues. In the fall of 2004, these students made the difficult transition from middle school to high school, yet no disciplinary events were recorded for any of the students. One student from the original group of four has consistently avoided trouble, is an honor role student, and competes on two varsity teams.</p>
		</div>
		<div class="col-md-2">
			<%= image_tag "image3.jpg" %>
		</div>
	<div>
	<div class="row">
		<div class="col-md-1">
			<%= image_tag "image4.jpg" %>
		</div>
		<div class="col-md-11">
			<div style="padding-left: 25px;">
				<p>Earn and Learn has since expanded to include one middle school group and two high school groups. To date, the program has proven to be remarkably effective and successful in motivating the students to change their behavior, improve academically, and receive their checks.</p>
				<p>The data accumulated from report cards and disciplinary records demonstrates that Earn and Learn has consistently defied the odds with a success rate of over 50%, far in excess of the 10% predicted by knowledgeable professionals. This has been reinforced by the positive feedback we have recieved from faculty and school officials.</p>
				<p>In 2008, Earn and Learn achieved a significant milestone with our first three seniors graduating high school and all three attending college in the fall.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h3>More Achievements:</h3>
		<ul>
			<li><%= link_to "Press Release", "/pressrelease.pdf" %></li>
			<li><%= link_to "Recent Graduates", "/GRADUATES.pdf" %></li>
			<li><%= link_to "S for Success Result", "/success.pdf" %></li>
		</ul>
		
	</div>
</div>
